.header {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 50%;
	translate: -50%;
	z-index: 1;
	top: 10px;
	filter: drop-shadow(0px 10px 10px #00000063);
}

.mainBodyHeader {
	width: 50vw;
	height: 60px;
	/* z-index: 0; */
	overflow: hidden;
	background-color: #F1E26F;
	background-size: 150px;
	/* --shadow-specs: 0px 12px 22px; */

}

.headerTitle {
	position: absolute;
	font-size: 49px;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	text-align: center;
	font-family: animalCrossing;
	color: #eed059;
	text-shadow: 0px 1px 5px rgb(0, 0, 0);

}

.headerButtons {
	position: absolute;
	display: flex;
	width: 40vw;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: 1;
	/* background-color: red; */
}

.headerButtons a {
	cursor: pointer;
	font-size: 20px;
	font-family: animalCrossingSystem;
}

.button {
	position: relative;
	/* background-color: black; */
}

.rightButtons {
	position: absolute;
	display: flex;
	/* text-align: right; */
	gap: 50px;
	right: 0px;

}

.leftButtons {
	display: flex;
	gap: 50px;
}

.buttonHitBox {
	position: absolute;
	width: 150%;
	height: 250%;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

.buttonBG {
	position: absolute;
	width: 100%;
	height: 300%;
	top: 50%;
	translate: 0% -50%;
	z-index: -1;
	transition: 150ms ease-in-out;
	border-radius: 1000px;
}

.button:hover .buttonBG {
	animation: gelatine 0.4s forwards;
	border-radius: 5px;
}


@keyframes gelatine {

	from,
	to {
		height: 150%;
		transform: scale(0.1, 0.1);
		background-color: rgba(255, 255, 255, 0);

	}

	50% {
		transform: scale(2, 2);
		background-color: rgb(255, 255, 255);
	}

	100% {
		transform: scale(1.5, 1.5);
		background-color: rgb(255, 255, 255);
	}
}

.leftRibbon {
	position: relative;
	width: 75px;
	top: 14px;
	left: 35px;
	z-index: -1;

}

.rightRibbon {
	position: relative;
	transform: scale(-1, 1);
	width: 75px;
	top: 14px;
	left: -35px;
	z-index: -1;
}


.musicPlayerBg {
	position: absolute;
	width: 400px;
	height: 50px;
	left: 50%;
	top: 50%;
	translate: -50%;
	bottom: -10px;
	border-radius: 20px;
	z-index: -1;
	transition: 150ms ease-in-out;
	/* background-color: rgb(143, 143, 143); */
	background-image: url('../images/musicMenuBG.png');
}

.musicPlayerHitBox {
	position: absolute;
	width: 400px;
	height: 90px;
	left: 50%;
	top: 75%;
	translate: -50%;
	bottom: -10px;
	border-radius: 20px;
	z-index: 1;
	/* background-color: rebeccapurple; */
}

.musicPlayerHitBox:hover+.musicPlayerBg {
	height: 285px;
}

.musicPlayerHitBox:hover {
	height: 290px;
}


.musicPlayerTextBox {
	opacity: 0%;
	position: relative;
	/* display: flex; */
	text-align: center;
	top: 30px;
	z-index: 1;
	transition: 150ms ease-in-out
}

.kkSliderQuote {
	position: absolute;
	height: 150px;
	left: 50%;
	top: -30px;
	z-index: -1;
	translate: -50%;
	opacity: 0%;
	transition: 150ms ease-in-out;
	filter: drop-shadow(0px 10px 3px #00000063);

}


.musicPlayerTextBox p {
	font-family: animalCrossingSystem;
	letter-spacing: 2px;
	line-height: 1.2;
}

.kkSlider {
	position: absolute;
	width: 90px;
	left: 5%;
	top: 5vw;
	animation: kkDance 2s steps(2) infinite;
	opacity: 0%;
	filter: drop-shadow(0px 10px 3px #00000063);

}

.kkGuitar {
	position: absolute;
	width: 100px;
	right: 2%;
	top: 5vw;
	animation: kkDance 2s steps(2) infinite;
	opacity: 0%;
	filter: drop-shadow(0px 10px 3px #00000063);


}

@keyframes kkDance {
	from {
		transform: rotate(50deg);
	}

	50% {
		transform: rotate(-50deg);
	}

	to {
		transform: rotate(50deg);
	}
}

.musicPlayerHitBox:hover+.musicPlayerBg .musicPlayerTextBox {
	/* color: red; */
	top: 80px;
	opacity: 100%;
}

.musicPlayerHitBox:hover+.musicPlayerBg .kkGuitar,
.kkSlider,
.kkSliderQuote {
	opacity: 100%;
}
