.home {
	position: relative;
	padding-top: px;
	height: 90vh;
	/* background-color: rgb(185, 104, 104); */
}

.loadingGif {
	position: absolute;
	/* background-color: rebeccapurple; */
	height: 25vh;
	/* left: 50%; */
	/* right: 50%; */
	bottom: 0px;
	right: 0px;
	/* translate: -50%; */

}
