.game1Place {
	position: absolute;
	right: 50%;
	left: 50%;
	top: 55%;
	width: calc(1230px / 1.5);
	height: calc(780px / 1.5);
	translate: -50% -50%;
	outline: 5px solid #f1e26f;
	outline-offset: 0px;
	box-shadow: 0px 0px 50px black;
}

.gameScore {
	position: absolute;
	width: calc(750px / 1.5);
	height: calc(200px / 1.5);
	left: 50%;
	top: -160px;
	translate: -50%;
}

.gameScoreBG {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(/images/pongGame/gameScoreBG.png);
	background-size: 100%;
}

.player1 {
	position: absolute;
	width: 200px;
	height: 80px;
	top: 55%;
	left: 40px;
	translate: 0 -50%;
}

.player2 {
	position: absolute;
	width: 200px;
	height: 80px;
	top: 55%;
	right: 40px;
	translate: 0 -50%;
}

.player1Icon {
	position: absolute;
	width: calc(125px / 2);
	height: calc(100px / 2);
	filter: drop-shadow(0px 5px 0px #bebebc);
	background-size: 50%;
	background-repeat: no-repeat;
	left: 5px;
}

.player2Icon {
	position: absolute;
	width: calc(125px / 2);
	height: calc(100px / 2);
	filter: drop-shadow(0px 5px 0px #bebebc);
	background-size: 50%;
	background-repeat: no-repeat;
	right: 5px;
}

.player1Nick {
	position: absolute;
	font-size: 20px;
	font-family: animalCrossingSystem;
	left: 75px;
	top: 10px;
	background-image: url(/images/generic3BG.png);
	background-size: 80px;
	border-radius: 5px;
	box-shadow: -0.5px 3px 2px rgba(0, 0, 0, 0.623);
	width: 100px;
	height: 25px;
	text-align: center;
	align-content: center;
	overflow: hidden;
}

.player2Nick {
	position: absolute;
	font-size: 20px;
	font-family: animalCrossingSystem;
	right: 75px;
	top: 10px;
	background-image: url(/images/generic3BG.png);
	background-size: 80px;

	border-radius: 5px;
	box-shadow: -0.5px 3px 2px rgba(0, 0, 0, 0.623);
	width: 100px;
	height: 25px;
	text-align: center;
	align-content: center;
}

.player1Score {
	position: absolute;
	font-size: 25px;
	font-family: animalCrossingQuotes;
	left: 62%;
	top: 70%;
	translate: -50% -50%;
}

.player2Score {
	position: absolute;
	font-size: 25px;
	font-family: animalCrossingQuotes;
	left: 37%;
	top: 70%;
	translate: -50% -50%;
}

.board {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: black;
	background-image: url(/images/pongGame/pongGameBG3.png);
	background-size: contain;
	background-repeat: no-repeat;
	box-shadow: inset 0px 0px 150px;
	overflow: hidden;
}

.timer {
	position: absolute;
	height: 100px;
	width: 100px;
	background-image: url(/images/bgPattern2.jpg);
	background-size: 350px;
	background-position: center;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	border-radius: 5px;
	animation: timerAnimation 3s;
	outline: 5px solid #f1e26f;
	outline-offset: -10px;
}

.timer p {
	position: absolute;
	color: #f1e26f;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	text-shadow: 0px 3px 5px rgb(0, 0, 0);
}

@keyframes timerAnimation {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.5);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.ball {
	position: absolute;
	height: 30px;
	width: 30px;
	background-color: azure;
	background-image: url(/images/pongGame/ballBG.png);
	background-size: 35px;
	background-position: center;
	background-repeat: no-repeat;

	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.322));
	border-radius: 50%;
	top: calc(50% - 15px);
	left: calc(50% - 15px);
}

.paddle {
	position: absolute;
	height: 75px;
	width: 20px;
	background-color: #98d2e3;
	background-size: 40px;
}

.paddleHitBox {
	position: absolute;
	opacity: 50%;
	width: 20px;
	height: 75px;
	left: 50%;
	translate: -50%;
}

.paddle1 {
	left: 0;
}

.paddle2 {
	right: 0;
}

.paddle3 {
	left: 80px;
}

.paddle4 {
	right: 80px;
}

.offPaddle {
	opacity: 0;
}
