.profileHeader {
	position: absolute;
	/* background-color: red; */
	/* background-color: brown; */
	width: 70%;
	height: 15%;
	left: 50%;
	top: 4%;
	translate: -50%;
	filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.705));
}

.profileHeaderBG {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(165, 42, 42);
	border-radius: 10px;
	background-image: url(/images/bgPattern3.jpg);
	background-size: 20%;
}

.profileHeaderText {
	position: absolute;
	color: #f1e26f;
	text-align: center;
	align-content: center;
	font-family: animalCrossing;
	font-size: 45px;
	top: 50%;
	left: 50%;
	width: 100%;
	translate: -50% -50%;
}

.profileHeaderDecoration {
	position: absolute;
	background-image: url(/images/decoration2.svg);
	background-repeat: repeat-x;
	width: 100%;
	height: 10%;
	bottom: 10px;
	overflow: hidden;

	/* background-color: rebeccapurple; */
}

.profileMainBody {
	position: absolute;
	/* background-color: red; */
	/* background-image:; */
	width: 80%;
	height: 64%;
	top: 52%;
	left: 50%;
	translate: -50% -50%;
}

.profileMainBodyBG {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(/images/profileBG.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.438)) drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.438));
}

.winsBox {
	position: absolute;
	width: 150px;
	height: 150px;
	left: 20%;
	top: 15%;
	translate: -50%;
	overflow: hidden;
	filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.562));

	/* background-color: red; */
}

.winsBoxBG {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rosybrown;
	background-image: url(/images/bgPattern4.jpg);
	background-size: 100%;
	border-radius: 10px;
	pointer-events: none;
}

.boxText {
	position: absolute;
	text-align: center;
	align-content: center;
	width: 100%;
	height: 20%;
	background-color: #f7afb2;
	background-image: url(/images/musicMenuBG.png);
	background-size: 160px;
	background-repeat: no-repeat;
	top: 0px;
	font-family: animalCrossingSystem;
	font-size: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	filter: drop-shadow(0px 8px 1px rgba(0, 0, 0, 0.39));
}

.boxNumber {
	position: absolute;
	text-align: center;
	align-content: center;
	width: 100%;
	height: 50%;
	/* background-color: red; */

	top: 55%;
	translate: 0 -50%;
	font-family: animalCrossingSystem;
	font-size: 20px;
}

.boxNail1 {
	position: absolute;
	background-color: black;
	width: 10px;
	height: 10px;
	left: 20px;
	top: 10px;
	z-index: 1;
	border-radius: 5px;
	filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.37));
}

.boxNail2 {
	position: absolute;
	background-color: black;
	width: 10px;
	height: 10px;
	right: 20px;
	top: 10px;
	z-index: 1;
	border-radius: 5px;
	filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.37));
}

.loses {
	left: 50%;
}

.games {
	left: 80%;
}

.winRateBox {
	position: absolute;
	width: 400px;
	height: 60px;
	bottom: 10%;
	left: 50%;
	translate: -50% -50%;
	overflow: hidden;
	filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.562));
}

.winRateBoxBG {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rebeccapurple;
	background-image: url(/images/musicMenuBG.png);
	background-size: 400px;
	background-repeat: repeat-x;
	border-radius: 10px;
}

.winRateText {
	position: absolute;
	align-content: center;
	width: 70%;
	height: 100%;
	left: 10px;
	font-family: animalCrossing;
	font-size: 25px;
	filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.267));

	/* background-color: red; */
	/* z-index: 1; */
}

.positionBox {
	position: absolute;
	/* background-color: #f7afb2; */
	right: 0;
	width: 27%;
	height: 100%;
}

.positionBox p {
	font-size: 20px;
	filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.267));
}
.positionHeader {
	position: absolute;
	/* background-color: #f1e26f; */
	/* width: 100%; */
	left: 50%;
	top: 6px;
	translate: -50%;
	font-family: animalCrossing;
}

.positionText {
	position: absolute;
	font-family: animalCrossing;
	/* right: 0; */
	/* background-color: aqua; */
	width: 10%;
	height: 30%;
	left: 50%;
	top: 70%;
	translate: -50% -50%;
	/* text-align: center; */
	/* align-content: center; */
}
