.profile {
	position: relative;
	/* padding-top: 50px; */
	left: 50%;
	translate: -50%;
	top: 150px;
	height: 82%;
	width: 95%;
	/* background-color: rgb(131, 108, 155); */
	/* width: 100v; */
	/* background-color: rgb(185, 104, 104); */
}

.loginBox {
	position: absolute;
	height: 75%;
	width: 50%;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	/* background-color: rgb(87, 32, 32); */
}

.newUserPage {
	/* display: none; */
	/* pointer-events: none; */
}

.avatar1 {
	position: absolute;
	right: -18%;
	top: 5%;
	transform: rotate(50deg);
	width: 25%;
	/* z-index: 1; */

	/* background-color: black; */
}

.avatar2 {
	position: absolute;
	left: -19%;
	transform: rotate(-25deg);
	width: 25%;
	top: 50px;
}

.avatar3 {
	position: absolute;
	left: 50%;
	width: 50%;
	bottom: 12%;
	translate: -50%;
	filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.507));
}

.avatar4 {
	position: absolute;
	right: -20%;
	top: 5%;
	transform: rotateY(180deg) rotateZ(-60deg);
	width: 25%;
}

.thinkingBubble {
	position: absolute;
	right: -50%;
	top: 40%;
	width: 350px;
	height: 190px;
}

.thinkingBubbleBG {
	position: absolute;
	background-image: url(/images/genericQuote.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.thinkingBubbleName {
	position: absolute;
	transform: rotate(-21deg);
	text-align: center;
	align-content: center;
	width: 80px;
	top: 18px;
	font-family: animalCrossingSystem;
	left: 15px;
	color: rgb(255, 255, 255);
}

.thinkingBubbleText {
	position: absolute;
	color: #3b372d;
	left: 51%;
	top: 55%;
	translate: -50% -50%;
	width: 80%;
	height: 60%;
	text-align: left;
	line-height: 1.7;
	font-size: 20px;
	font-family: animalCrossingSystem;
}

.decoration1 {
	position: absolute;
	bottom: -1px;
	left: -5px;
	background-image: url(/images/decoration1.svg);
	background-repeat: repeat-x;
	background-size: 120%;
	background-position: bottom;
	width: 740px;
	height: 50%;
}

.loginBoxBG {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #f8eebb;
	border-radius: 18px;
	overflow: hidden;
}

.profileId {
	position: absolute;
	height: 600px;
	width: 700px;
	left: 50%;
	top: 30vh;
	translate: -50% -50%;
}

.profileId {
	display: none;
}

.profileId.active {
	display: block;
}

.topCover {
	position: absolute;
	width: 100%;
	height: 120px;
	filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.452));
	background-image: url(/images/topCover.png);
	background-size: 120%;
	border-radius: 18px;

	background-repeat: repeat-x;
}

.loginText {
	position: relative;
	font-family: animalCrossingQuotes;
	color: #403b18;
	font-size: 50px;
	text-align: center;
	align-content: center;
	top: 15px;
	background-size: 50%;
	height: 60px;
}

.inputPass {
	position: absolute;
	text-align: center;
	width: 25%;
	height: 8%;
	left: 75%;
	top: 50%;
	translate: -50%;
	background-color: aquamarine;
}

.defaultButton {
	position: absolute;
	text-align: center;
	font-family: animalCrossingQuotes;
	width: 20%;
	height: 8%;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}

.defaultButtonText {
	position: absolute;
	color: #3a2d29;
	transition: 0.3s ease-in-out;
	top: 50%;
	left: 50%;
	width: 100%;
	translate: -50% -50%;
}

.defaultButton:hover .defaultButtonText {
	color: #3a2d29;
	transform: scale(1.5);
}

.defaultButtonBG {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #68b893;
	border-radius: 10px;
	filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.329));
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	z-index: -1;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}

.defaultButtonBGWave {
	position: absolute;
	background: url("/images/wave.svg") repeat-x;
	width: 1600px;
	height: 198px;
	top: 115px;
	background-size: 20%;
	translate: 0% -50%;
	overflow: hidden;
	opacity: 0%;
	transition: 0.3s ease-in-out;
}

.defaultButton:hover .defaultButtonBGWave {
	opacity: 100%;
	animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

.defaultButton:hover .defaultButtonBG {
	background-color: #7ec9d6;
}

.defaultButton:hover .wave2 {
	opacity: 100%;

	animation: wave 22s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

@keyframes wave {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -1280px;
	}
}

.loginUser {
	bottom: 10%;
	left: 75%;
	translate: -50%;
}

.newUser {
	bottom: 10%;
	left: 25%;
	translate: -50%;
}

.googleLogin {
	bottom: 10%;
	left: 50%;
	translate: -50%;
}

.createNew {
	bottom: 10%;
	left: 75%;
	translate: -50%;
}

.backNew {
	bottom: 10%;
	left: 25%;
	translate: -50%;
}

.logoutButton {
	bottom: 5%;
	left: 50%;
	translate: -50%;
}

.showQr {
	bottom: 5%;
	left: 25%;
	translate: -50%;
}

.changeNick {
	bottom: 5%;
	left: 75%;
	translate: -50%;
}

.twoFactor {
	bottom: 5%;
	left: 75%;
	translate: -50%;
}

.QrCode {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: #7ec9d6;
	/* opacity: 0; */
}

.QrCodeBox {
	position: absolute;
	/* background-image: url(https://images.squarespace-cdn.com/content/v1/5d3f241fa4e0350001fa20d5/1636491460338-AIZAXV2978MGIDQE0GT7/qr-code.png); */
	background-size: contain;

	width: 100px;
	height: 100px;
	background-color: red;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
}

.loginButton {
	position: absolute;
	text-align: center;
	width: 20%;
	height: 8%;
	bottom: 20%;
	left: 75%;
	translate: -50%;
	background-color: aqua;
	cursor: pointer;
}
.newUserButton {
	position: absolute;
	text-align: center;
	width: 20%;
	bottom: 10%;
	height: 8%;
	left: 50%;
	translate: -50%;
	background-color: aqua;
	cursor: pointer;
}

.inputBox {
	position: absolute;
	width: 70%;
	height: 100px;
	background-color: rgb(26, 118, 141);
	left: 50%;
	top: 25%;
	translate: -50% -50%;
	border-radius: 10px;
	background-image: url(/images/bgPattern2.jpg);
	animation: bgAnimation 20s infinite linear;
}

.twoFactorPage {
	/* background-color: red; */
}

.twoFactorInput {
	top: 40%;
	/* translate: ; */
}

.twoFactor {
	position: absolute;
}

.back2F {
	position: absolute;
	bottom: 5%;
	left: 25%;
	translate: -50%;
}

@keyframes bgAnimation {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 420px 420px;
	}
}

.inputBox label {
	position: absolute;
	left: 50%;
	translate: -50%;
	font-size: 20px;
	top: 10%;
	height: 50%;
	width: 80%;
	text-align: center;
	color: #f8eebb;
	font-family: animalCrossingSystem;
}

.smallInput {
	position: relative;
	width: 50% !important;
}

.email {
	top: 45%;
}

.passwordNew {
	top: 65%;
}

.inputText {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 30%;
	left: 50%;
	top: 50%;
	translate: -50%;
	background-color: #68b893;
	border-radius: 5px;
	color: black;
	font-family: animalCrossing;
}

.inputText:focus {
	background-color: #66b893;
	animation: expandOutline 0.1s forwards;
}

@keyframes expandOutline {
	from {
		outline: 0px groove #f98866;
	}

	to {
		outline: 5px solid #f98866;
	}
}

.password {
	top: 45%;
}

/*  */
.profileBox {
	position: relative;
	width: 500px;
	height: 300px;
	right: 50%;
	left: 50%;
	translate: -50%;
	border-radius: 10px;
	background-color: black;
}

.profileIcon {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 10px;
	top: 10px;
	border-radius: 100%;
	border: solid 1px #ffffff;
	background-color: #fff;
}

.profileName {
	position: relative;
	color: aquamarine;
	padding-top: 30px;
	padding-left: 20px;
	padding-bottom: 100px;
	text-align: center;
}

.profileStatusBox {
	position: relative;
	display: flex;
	justify-content: center;
	gap: 50px;
	color: bisque;
}

.statusBox {
	position: relative;
	height: 100px;
	width: 100px;
	transition: 0.8s ease;
}

.statusBoxBg {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.521);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.9px);
	-webkit-backdrop-filter: blur(6.9px);
	border: 1px solid rgba(255, 255, 255, 1);
	animation-duration: 5s;
	transition: 1s ease;
	opacity: 100%;
}

.statusBox:hover .statusBoxBg {
	background-color: rgba(32, 32, 32, 0.644);
}

.statusBox:hover {
	transform: scale(1.1);
}

.statusBox > p {
	position: relative;
	z-index: 1;
}
